.dropdown-container {
  width: 300px;
}
ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
}
button {
  margin: 20px;
  align-items: center;
}
#section {
  margin-left: 65px;
  border-style: inset;
  border-radius: 1rem;
  min-height: xxpx;
  width: 90%;
}
.favorite-teams {
  margin-left: 30px;
  display: inline-flex;
  align-items: center;
}
